<h1>Welcome to the Team</h1>

<p>You've slain dragons, killed beasts, and proved yourself. You are not just another asshat off the street. You know what it is to raid with the sharks. When danger calls <strong>you</strong> answer. We need more people like you in the world (of Warcraft).</p>

<p>We look forward to continuing to play with you, and again, welcome.</p>