<h1>Thank you for Applying to Dinosaur Cowboys!</h1>

<p>We will review your application, if you have any questions please contact us in game.</p>

<ul>
  <li>Partyshark#1727</li>
  <li>Mikesumner#1521</li>
  <hr />
  <li>Omnomnomms (GM)</li>
  <li>Disciplíne (Officer - Logistics / Recruitment)</li>
  <li>Endsu (Officer - Raid Leader / Performance Evaluator)</li>
</ul>
