<h1>Welcome to Party Shark!</h1>

<p>We're bringing you on as a trial.</p>

<p>Trials are required to maintain 100% activity and attendance, exceptions will be handled on a case by case basis.</p>

<p>Trials are <strong>not</strong> entitled to loot, unless the loot is not put in for by raiders or it is only a very minor upgrade to them.

<p>Trial is a 2+ week period. Trials can be extended indefinitely if needed.
Trial members are rated on attendance, performance, attitude, personality and quality of activity on our forums.</p>

<p>You now have access to the <%= link_to "guild forums", forums_url %>, and should give a read over the <%= link_to "boss strategies", raids_url %>.</p>

<p>Best of luck.</p>