<div class="panel">
  <div class="title">
    <h2>
      <%= link_to "Forums", forums_path %> /
      <%= link_to @forum, forum_path(@forum) %>
    </h2>

    <% if can? :destroy, @forum %>
    <ul class="actions">
      <li><%= link_to "Delete Forum", forum_path(@forum), method: :delete, confirm: "Are you sure?" %></li>
    </ul>
    <% end %>
  </div>

  <%= render "forums/form", forum: @forum %>
</div>