<div class="page">
  <div class="title">
    <h1>Recent Bosses</h1>
  </div>

  <%= render "forums/bosses_table", bosses: @bosses %>

  <div class="title">
    <h1>Recent Topics</h1>
  </div>

  <%= render "forums/topics_table", topics: @topics %>

  <div class="title">
    <h1>Forums</h1>

    <ul class="actions">
      <% if policy(Forum).create? %>
        <li><%= link_to action_tag(:create, Forum), new_forum_path %></li>
      <% end %>
    </ul>

    <div class="info">
      To create a new topic, click on the forum you wish to create it in, and then click the "Create New Topic" button. This button will only exist if you have access to creating topics in that forum.
    </div>
  </div>

  <%= render "forums/forums_table", forums: @forums %>
</div>
