<div class="page">
  <div class="title">
    <h1>Recent Bosses</h1>

    <div class="info">
      For the complete list of raids and bosses visit the
      <a href="/raids">raids</a> page.
    </div>
  </div>
  <%= render "raids/bosses_table", bosses: @bosses %>

  <div class="title">
    <h1>Recent Topics</h1>

    <div class="info">
      These are the topics with the most recent posts. <i>This does not
      include <a href="/raids">raid, boss</a>, or
      <a href="/applications">application</a> discussion.</i>
    </div>
  </div>
  <%= render "forums/topics_table", topics: @topics %>

  <div class="title">
    <h1>Forums</h1>

    <ul class="actions">
      <% if policy(Forum).create? %>
        <li><%= link_to action_tag(:create, Forum), new_forum_path %></li>
      <% end %>
    </ul>

    <div class="info">
      To create a new topic, click on the forum you wish to create it in, and
      then click the "Create New Topic" button. This button will only exist if
      you have access to creating topics in that forum.
    </div>
  </div>
  <%= render "forums/forums_table", forums: @forums %>
</div>
