<div class="panel">
  <h1>
    <%= @forum %>
    <span class="sub">
      <%= link_to "Forums", forums_path %>
    </span>
  </h1>

  <%= render "forums/table", topics: @topics %>

  <%= link_to "New Topic", new_forum_topic_path(@forum), class: "button" %>
</div>