$input-margin-bottom: 15px;

form {
  .input {
    &.field_with_hint {
      input,
      textarea,
      select {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-bottom: 0;
      }

      input[type="checkbox"],
      input[type="radio"] {
        margin-bottom: 5px;
      }

      &.radio_buttons,
      &.check_boxes,
      &.boolean {
        &:not(.field_with_errors) p.hint {
          border-top-left-radius: $border-radius-size;
          border-top-right-radius: $border-radius-size;
          margin-top: 5px;
        }
      }

      p.hint {
        background-color: $success-color;
        border-bottom-left-radius: $border-radius-size;
        border-bottom-right-radius: $border-radius-size;
        color: $background-color;
        margin: 0 0 $input-margin-bottom;
        padding: 5px 7px;
      }
    }

    &.field_with_errors {
      input,
      textarea,
      select {
        border: $border-size solid $danger-color;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-bottom: 0;
      }

      input[type="checkbox"],
      input[type="radio"] {
        border-bottom-left-radius: $border-radius-size;
        border-bottom-right-radius: $border-radius-size;
        margin-bottom: 5px;
      }

      &.radio_buttons,
      &.check_boxes,
      &.boolean {
        p.error {
          border-top-left-radius: $border-radius-size;
          border-top-right-radius: $border-radius-size;
          margin-top: 5px;
        }
      }

      p.error {
        background-color: $danger-color;
        border-bottom-left-radius: $border-radius-size;
        border-bottom-right-radius: $border-radius-size;
        color: $background-color;
        margin: 0 0 $input-margin-bottom;
        padding: 5px 7px;

        &:before {
          content: 'Field ';
        }
      }

      &.field_with_hint p.error {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-bottom: 0;
      }
    }
  }

  label {
    display: block;
    margin-bottom: 3px;

    &.required abbr {
      border-bottom: 0;
    }
  }

  input,
  textarea,
  select {
    @include appearance(none);

    background: $border-color;
    border: $border-size solid $border-color;
    border-radius: $border-radius-size;
    color: $text-color;
    margin-bottom: $input-margin-bottom;
    padding: 5px;
    vertical-align: top;
    width: 100%;

    &:focus {
      border: $border-size solid $link-color;
      outline: none;
      padding: -2px;
    }
  }

  textarea {
    resize: vertical;
  }

  input[type=checkbox],
  input[type=radio] {
    height: 1.25em;
    margin: 0 5px 5px 0;
    vertical-align: -8px;
    width: 1.25em;

    &:checked {
      background-color: $link-color;
    }
  }

  input[type=radio] {
    border-radius: 2em !important;
  }

  label.checkbox,
  label.radio {
    &:last-child {
      margin-bottom: $input-margin-bottom;
    }
  }

  input[type="submit"] {
    @extend .button;

    color: $link-color;
    margin-bottom: 0;
    width: auto;

    &:focus {
      background-color: $link-color;
      border: 0;
      color: $background-color;
    }
  }
}
