<div class="page">
  <div class="title">
    <h2>
      <%= link_to "Raids", raids_path %> /
      <%= link_to @raid, raid_path(@raid) %>
    </h2>

    <ul class="actions">
      <% if policy(@raid).destroy? %>
        <li><%= link_to action_tag(:destroy), raid_path(@raid), method: :delete, data: { confirm: "Are you sure?" } %></li>
      <% end %>
    </ul>
  </div>

  <%= render "raids/form", raid: @raid %>
</div>
