<div class="page">
  <div class="title">
    <h1>Raids</h1>

    <ul class="actions">
      <% if policy(Raid.new).create? %>
        <li><%= link_to action_tag(:create), new_raid_path %></li>
      <% end %>
    </ul>
  </div>

  <ul class="button-list">
    <% @raids.each do |raid| %>
      <li>
        <%= link_to raid_path(raid) do %>
          <%= raid %>
          <span class="pull-right">
            Tier <%= raid.tier %>
          </span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
