<div class="panel">
  <div class="title">
    <h1>What is a Party Shark?</h1>
  </div>

  <section class="content">
    <p>Party Shark was formed in the summer of 2013 with the goal of combining the best aspects of Hardcore and Casual to form a 2 night per week guild that not only kills end tier heroic bosses while current, but also does it on a light schedule with an enjoyable raid atmosphere and community. Elitism and douchebaggery are unacceptable here, while complacency and mediocrity are equally intolerable as well.</p>

    <p>As a community and raid team we are talented, committed, communicable and efficient. Constantly challenging ourselves to meet and exceed our goals on our 8 hour per week raid schedule while also getting the utmost enjoyment out of the game. We take pride in what we do and it shows with our results.</p>

    <span>From Urban Dictionary -</span>
    <blockquote>A person being crowd surfed while holding a cardboard shark fin in between their butt cheeks. The privilege is usually extended to someone who did something extraordinary throughout the week.</blockquote>

    <p>If that's not fun then what is?</p>

    <h2>Leadership</h2>

    <p>GM / Raid Leaders / Officers who have all played in top 25/50 US guilds. Our officers are experienced, talented, and devote the time needed to make our guild succeed.</p>

    <p>Our Raiders are mostly formerly of top US 100 guilds, we look for at least one current end tier boss kill during progression as a prerequisite to joining. Our members are no stranger to top end raiding and we want to keep it that way.</p>

    <h2>Raiding</h2>

    <p>We expect our members to be respectful, professional and communicable.</p>

    <p>As a member of Party Shark you are expected to show up at every raid with a working knowledge of the encounters while having participated in our discussions out of raid to keep informed of changes. We expect to keep raids running efficiently so a lack of preparation is intolerable.</p>

    <p>During raid, all raiders are expected to play as a team with the success of the guild as their top priority, directions and strategies should be followed with care and urgency. Putting your own personal goals, gear, and ranks aside for the success of group is one of the best qualities a raider can possess.</p>

    <p>Please remain quiet during boss encounters with non-essential information so officers can easily relay information to the raid without interruption. If you have something constructive to add that may help us express it through whispers first. As a whole, our goal is to get things accomplished the most efficient least disruptive way possible. Otherwise, enjoy the general debauchery that is Party Shark mumble.</p>


    <h2>Before Applying</h2>

    <p>Members are expected to maintain 90% attendance for our guild this would mean missing 1 raid over during a rolling 5 week period or 1 out of 10 required raids on our schedule. Trials are expected to maintain 100% attendance over the course of their initiation period.</p>

    <p>Treat this game as a sports team or another type of club you belong to, when you don't show up to raid you adversely impact the lives of up to 30 other individuals, this may be a game on the internet but we take time out of our real lives and schedules to be here for your benefit and enjoyment we expect mutual respect.</p>

    <p>We run a roster around 30 raiders. This means that we do not recruit for full time bench positions. If we accept you as a trial, you will see raid time. For raid encounters that are especially demanding on compositions, the best comp and players will play. On farm nights, we rotate our lineup depending on need for gear, playing time, and comp for the fight to maintain efficiency.</p>

    <p>We will always consider any exceptional player regardless of class.</p>

    <h4>Contact Information</h4>
    <p>Add us on RealID if you're interested in our guild.</p>
    <ul>
      <li>Partyshark#1727</li>
      <li>Mikesumner#1521</li>
    </ul>
    <p>Chat with us in game.</p>
    <ul>
      <li>Omnomnomms (Gm/recruitment)</li>
      <li>Disciplíne (Officer/Logistics/recruitment)</li>
      <li>Endsu (Raid Leader, Performance evaluation)</li>
    </ul>

    <p>If you are interested, Please <%= link_to "sign up", new_user_path %> and complete an application, also be sure to read the <%= link_to "guild charter", charter_path %> carefully.</p>
  </section>

  <%= render "shared/recruitment_classes" %>

  <div class="clearfix"></div>
</div>
