<div class="panel">
  <h1>Applications In Progress</h1>

  <% if @pendings.any? %>
    <% @pendings.each do |app| %>
      <%= render "applications/header", app: app %>
    <% end %>
  <% end %>

  <% if @trials.any? %>
    <% @trials.each do |app| %>
      <%= render "applications/header", app: app %>
    <% end %>
  <% end %>

  <hr />
  <h2>Resolved Applications</h2>

  <% if @accepts.any? %>
    <% @accepts.each do |app| %>
      <%= render "applications/header", app: app %>
    <% end %>
  <% end %>

  <% if @rejects.any? %>
    <% @rejects.each do |app| %>
      <%= render "applications/header", app: app %>
    <% end %>
  <% end %>
</div>
