<div class="page">
  <div class="title">
    <h1>Applications</h1>

    <ul class="actions">
      <li><%= toggle_param_tag(:resolved, :applications_path) %></li>
      <li><%= toggle_param_tag(:hidden, :applications_path) %></li>
    </ul>
  </div>

  <%= render "applications/table", applications: @applications %>
</div>
