<div class="panel">
  <h1>Submit Your Application</h1>

  <%= render "applications/form", application: @application %>

  <div class="content">
    <h2>Raid Schedule</h2>
    <p>Tuesday and Thursday from 8:45pm to 12:45am EST</p>

    <p>Invites at 8:30, first boss pull at 8:45, 10 min break in the middle and last boss pull at 12:45, we will always end by 1am at the latest.</p>

    <h2>Currently Recruiting</h2>
    <p>In order of preference</p>
    <ol>
      <li>Warlock</li>
      <li>Mage</li>
      <li>Hunter</li>
      <li>Resto/Ele Shaman</li>
    </ol>

    <h2>Contact Information</h2>
    <p>Add us on REAL ID if you're interested in our guild<br />
      - Partyshark#1727<br />
      - Mikesumner#1521<br />
      Or Chat with us in game<br />
      - Omnomnomms (Gm/recruitment)<br />
      - Disciplíne (Officer/Logistics/recruitment)<br />
      - Tencarus (Strats/Raid Lead)<br />
      - Tahgoe (Call-outs, Performance evaluation)
    </p>
  </div>
</div>
