// .character-tile
// A pretty tile with the basic information about a character.
//

// TODO: MOVE THIS!
.tiles {
  padding: 0;
}

.character-tile {
  @extend .border;
  @include span-columns(4);
  margin-bottom: 10px;

  &:nth-child(3n) {
    @include omega();
  }

  img {
    vertical-align: bottom;
  }

  .info {
    padding: 4px 2px;
    display: inline-block;
  }

}
