// .content
// This is a class for content that should be displayed
// for ease of reading. This includes styles for markdown
// elements.
//
.content {
  @include prefixer(font-smoothing, antialiased, webkit moz);
  font: 20px 'Computer Modern Sans', Helvetica, Arial, sans-serif;

  // TODO: May need to select more things?
  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child,
  p:first-child {
    margin-top: 0;
  }

  // TODO: May need to select more things.
  p:last-child {
    margin-bottom: 0;
  }

  img {
    @extend .border;
    max-width: 100%;
  }

  table td {
    @extend .border;
    padding: 10px;
  }

  iframe {
    max-height: 100%;
    max-width: 100%;
  }
}
