// .flash
// This is a full width bar, for displaying information to
// users.
//
.flash {
  left: 20px;
  position: absolute;
  right: 20px;

  p {
    margin: 0;
    padding: 10px 20px;

    &.notice {
      background: $warning-color;
      color: $background-color;
    }

    &.alert {
      background: $danger-color;
      color: $text-color;
    }
  }
}
