// table.list
// Beautiful list styles for tables.
//
$highlight-color: shade($warning-color, 60%);

table.list {
  margin-bottom: 20px;
  width: 100%;

  // TODO: More general approach to this.
  &.topic {
    font-size: 13px;
  }

  tr {
    width: 100%;

    &.highlight {
      background: $highlight-color;
    }

    th {
      padding-left: 10px;
      text-align: left;
    }

    td {
      @extend hr;
      padding: 10px 0 10px 10px;
    }

    th:last-child,
    td:last-child {
      padding-right: 10px;
      text-align: right;
    }
  }

  &:not(.headerless) tr:first-child {
    background: none;
  }
}
