// .list
// Beautiful list styles for tables.
//

.list {
  margin-bottom: 20px;
  width: 100%;

  &.compact {
    font-size: 13px;
  }

  thead tr {
    th {
      padding: 0 0 5px 10px;
      text-align: left;

    }

    th:last-child {
      padding-right: 10px;
      text-align: right;
    }
  }

  tbody tr {
    @extend hr;

    &.highlight {
      background: $border-color;
      border-color: $background-color;
    }

    td {
      padding: 10px 0 10px 10px;
    }

    td:last-child {
      padding-right: 10px;
      text-align: right;
    }
  }
}
