.mumble-browser {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .channel {
    border: $border-size solid $border-color;
    border-radius: $border-radius-size;
    margin-bottom: 5px;

    .title {
      background-color: $border-color;
      margin: 0;
      padding: 2px;
    }

    > * {
      padding: 5px;
    }
  }

  .sub-channels .channel:last-child {
    margin-bottom: 0;
  }
}
