// .page
// This is a class to contain a page of the website. It looks like a
// panel.
//
.page {
  @extend .panel;
  @include span-columns(12);
  border-top: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
