// .raid-list
// A grid of raids with image banners.
//
.raid-list {
  padding: 0;

  li {
    @include span-columns(4);

    border: $border-size solid $border-color;
    border-radius: $border-radius-size;
    display: inline-block;
    vertical-align: bottom;

    &:hover {
      border-color: $link-color;

      p {
        background-color: $link-color;
        color: $background-color;
      }
    }

    p {
      background-color: $border-color;
      margin: 0;
      padding: 5px;
    }

    .image-mask {
      height: 180px;
      overflow: hidden;
    }

    img {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}
