// .recruitment-classes
// Iconized list of classes with recruitment needs.
//
.recruitment-classes {
  ul.classes {
    font-size: 10px;
    list-style: none;
    margin: 0;
    padding: 0;

    .class,
    .spec {
      float: left;
      margin: 0 5px;
      text-align: center;
    }

    .clearfix {
      margin-bottom: 10px;
    }
  }
}
