// .status
// Little colored pills for status information.
//
.status {
  border-radius: $border-radius-size;
  color: $background-color;
  display: inline-block;
  font-weight: normal;
  padding: 0 3px;

  &.pending {
    background-color: $info-color;
  }

  &.trial {
    background-color: $warning-color;
  }

  &.accepted {
    background-color: $success-color;
  }

  &.rejected {
    background-color: $danger-color;
  }

  &.application {
    background-color: $application-color;
  }

  &.boss {
    background-color: $boss-color;
  }

  &.raid {
    background-color: $raid-color;
  }

  &.topic {
    background-color: $topic-color;
  }
}

h1 .status {
  font-size: 22px;
  padding: 3px 6px;
  vertical-align: 2px;
}

h2 .status {
  font-size: 16px;
  margin: 0 6px;
  padding: 2px 5px;
  vertical-align: 2px;
}

h3 .status {
  font-size: 12px;
  font-weight: bold;
  margin: 0 4px;
  padding: 2px 5px;
  vertical-align: 1px;
}

h4 .status {
  font-size: 10px;
  font-weight: bold;
  margin: 0 4px;
  padding: 2px 4px;
  vertical-align: 1px;
}

h5 .status {
  font-size: 8px;
  font-weight: bold;
  margin: 0 2px;
  padding: 2px 4px;
  vertical-align: 1px;
}

h6 .status {
  font-size: 8px;
  font-weight: bold;
  margin: 0;
  padding: 1px 2px;
  vertical-align: 1px;
}
