// .topnav
// The main nav for the site.
//
.topnav {
  background-color: $border-color;
  border: $border-size solid $border-color;
  border-top-left-radius: $border-radius-size;
  border-top-right-radius: $border-radius-size;

  ul {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  .user-links {
    float: right;
  }

  li {
    display: inline-block;

    a {
      @extend .button;
      border-radius: 0;
      margin-bottom: 0;
      padding: 8px 10px;
    }
  }
}
