<div class="mumble">
  <div class="title">
    <h2>Mumble</h2>

    <ul class="actions">
      <li><%= link_to_function fa_icon("refresh"), "updateMumble(); return false;" %></li>
    </ul>
  </div>

  <ul class="channels">loading...</ul>
</div>