<div class="party-shark-mumble mumble-browser">
  <div class="title">
    <h2>Mumble</h2>

    <ul class="actions">
      <li><a class="refresh" href="#"><%= fa_icon("refresh") %></a></li>
    </ul>
  </div>

  <ul class="channels">loading...</ul>
</div>