<div class="recruitment-classes">
  <% @recruitments ||= policy_scope(RecruitmentClass) %>

  <% if policy(RecruitmentClass).update? %>
    <%= link_to fa_icon("edit"), edit_recruitment_path %>
  <% end %>

  <% @recruitments.each do |rc| %>
    <% if rc.needed? %>
      <%= rc.class_name %><br />
      <% rc.needs.each do |k, v| %>
        <%= image_tag rc.spec_icon_path(k), size: '20x20' %>
        <%= v %>
      <% end %>
      <br />
    <% end %>
  <% end %>

</div>