<div class="shoutbox"
     data-user-id="<%= current_user ? current_user.id : '' %>"
     data-toggle="<%= current_user && current_user.admin ? 'true' : '' %>">
  <ul class="shouts">
    Loading...
  </ul>
  <% if current_user && current_user.id && current_user.rank %>
    <input type="text" class="shout-input" placeholder="Send a message here...">
  <% end %>
</div>