.panel.panel-default.shoutbox{data: {user_id: current_user ? current_user.id : '', toggle: current_user && current_user.admin ? 'true' : ''}}
  .panel-heading
    %h3.panel-title Shoutbox
  .panel-body
    %ul.shouts Loading...
    - if current_user && current_user.id && current_user.rank
      %input.shout-input{type: "text", placeholder: "Send a message here..."}
