<div class="page">
  <div class="title">
    <h1>Party Shark Guild Charter</h1>
  </div>

  <p>The goal of Party Shark is to be a successful 2 night per week raiding guild in World of Warcraft.</p>
  <p>Our definition of success is being able to meet or exceed our progression goals while keeping and maintaining an enjoyable raiding and drama free social environment. Additionally, it is our mission to build a culture in which our raiders can be proud to be a part of, in which we constantly try to adapt and improve our guild over the course of our existence.</p>
  <p>Our progression goals- To clear all content on heroic while still in the current tier before the next patch is released, To make consistent improvement each and every week while moving through content at a pace that goes along with our mission statement.</p>
  <p>We are a hard-mode guild, not a hardcore nor are we a casual guild, the elitism, douchebaggery, over recruitment and cut throat nature of hardcore is not in our principals. While the complacency, friends over performance and acceptance of mediocrity is not acceptable here either.</p>
  <p>Our goal is to take the better aspects of both worlds and to create the atmosphere we desire in Party Shark where our members are skillful, communicable, and are always striving to improve themselves and everyone around them to reach our definition of success as mentioned above.</p>

  <h2>Code of Conduct</h2>

  <p>Upholding of all guild values and rules is required of all members. There are no exceptions whether you are a member for 1 hour or 1 year or beyond, officer, member, trial or casual. No constant negative attitude in guild chat, tells, or anywhere else.</p>
  <p>Respect- We understand that there are frustrations with the game and tensions rise in given situations. commiserating is one thing, but please do not spam negativity because it will bring everyone down and take away from the atmosphere of the guild. If you have any disagreements or complaints, please handle it maturely with the person(s) involved privately. If the situation is not able to be resolved, follow the chain of command and talk to the Officers first.</p>
  <p>Preparation - Coming into raid knowing the role for your class and the fight overall, having watched the proper material, having read and participated if possible to our discussion thread on the forums. With a 2 night schedule our Preparation is the key to our success.</p>
  <p>Professionalism - Mutually between all parties, this includes pointing fingers, throwing each other under the bus, criticizing the decisions of an officer or raid leader. Knowing when and how to speak on mumble, If you have something constructive to that may help us, do it in a non-disruptive manner, if possible through whispers first. Let's get things accomplished like adults should.</p>
  <p>Activity - All guild members are expected to be active not only in game but also on our website and forums, communication is key as is doing other things aside from raiding together and as a team. The more time we all spend on mumble, the forums, in guild chat, and doing activities together the more this guild will grow as a team and the better environment it will be for everyone involved.</p>

  <h2>Guild Structure</h2>

  <p>Our goal is to have a very active leadership core who are always striving to make the guild better and lead by example while making sure the guild is run in an efficient and beneficial manner for all involved.</p>

  <dl>
    <dt>GM</dt>
    <dd>The GM will oversee the day to day duties of the guild while staying focused on and making a plan to keep in line with the long term goals of the guild.</dd>

    <dt>Officers</dt>
    <dd>Officers have a variety of roles, from maintaining the functioning aspects of the guild, to leading and organizing raids, to being the leaders on our forums and upholding and enforcing guild policies. These members put in a lot of extra time and effort and should be well respected for it.</dd>

    <dt>Loot Council</dt>
    <dd>These members are always on time to raid, their attendance is perfect, performance is always stellar and are the leaders amongst our group of raiders not only in game but also on our forums. They are the whole ball of wax and the backbone of our guild.</dd>

    <dt>Partyshark</dt>
    <dd>Our "raider" rank- For anyone that has fully passed their trail and has been welcomed onto our raiding team. Our Partysharks are the body of our raiding community and we expect nothing but the best in productivity,performance and participation from them.</dd>

    <dt>Swordfish</dt>
    <dd>Swordfish are an extended probationary period or a re-evaluation if needed based on attendance, performance or any number of reasons.</dd>

    <dt>Sharkbait</dt>
    <dd>Our "Trials" or Shark Taco</dd>
  </dl>

  <h2>Guild Policies</h2>

  <p>These are the polices that govern they way the guild is run. Please read them carefully. Every member of the guild is expected to have read and understood these policies.</p>


  <h3>Attendance</h3>

  <p>Members are expected to maintain 90% attendance for our guild this would mean missing 1 raid over during a rolling 5 week period or 1 out of 10 required raids on our schedule. Trials are expected to maintain 100% attendance over the course of their 3 week initiation period.</p>

  <p>In the case of absences, we expect all members and trials to post well in advance if possible. In the advent of an emergency, trials and members can contact an officer or post up until raid time. If absolutely unable to notify an officer which may occur during an actual emergency, you may approach officer's after the fact in a private setting.</p>

  <p>Attendance penalties will be strictly and actively enforced, consistent abuses of the guild's and fellow raiders time will result in serious setbacks of your character's playtime, stability of your rank and looting rights.</p>

  <p>Attendance is defined not only as logging in for raid but also being available and willing to do 100% of the bosses that night if asked. 50% of a night will be docked from your attendance if you have an internet outage and are unable to log back on. 50% of a night will also be docked if you are unable to play on a boss due to having to leave early/being late or being unavailable when needed.</p>

  <p>Perfect attendance over the previous two 5 week period can also be used to off-set an emergency situation where nights are missed during the current raid period. Dropping under 90% will effect your priority on loot, while dropping to 80% will result in a demotion to the swordfish rank until your attendance percentage is back in the acceptable range based on the rolling 5 week average.</p>

  <h3>Trial Period</h3>

  <p>Trials are required to maintain 100% activity and attendance, exceptions will be handled on a case by case basis.</p>
  <p>Trials are NOT entitled to loot, unless the loot is not put in for by raiders or it is only a very minor upgrade to them.</p>
  <p>Trial is a 2-4 week period. If needed, trial will be extended if needed.</p>
  <p>Trial members are rated on personal attendance, performance, attitude, personality and quality of activity on our forums.</p>

  <p>Each Trial will be assigned a mentor from the Mentor rank to guide them through the trial period, break down their logs and generally point them in the right direction and communicate any issues that may pop up with them and answer any general questions they may have.</p>

  <h3>Loot Distribution</h3>

  <p>There will be 5 permanent members of our LC who get to vote every week, If one of these members is also putting in for a piece of loot they will not have a vote on said piece.</p>

  <p>Any tie in the voting will be decided by the higher roll in the loot add on to avoid conflict.</p>

  <p>The goal of our loot system and council is to distribute the loot fairly and equally but most importantly, ultimately distribute the items to the people who will help the guild the most by having them.</p>

  <p>Loot Council will also be shaken up from time to time with new members being added and old ones being removed and cycled.</p>

  <p>Priority - Officers/LC members/Party Sharks and Raiders will all be evenly considered and awarded loot with an emphasis based on play skill, item lvl and other factors such as attendance penalties.Swordfish will be next on the priority table even with trials who are eligible for loot that is unwanted as a major upgrade by one of the above ranks.</p>

  <p>Your role in Loot Distribution - Be honest about what you need/don't need at the time it drops, if you aren't going to use your 4 piece.. don't bid for it, let someone else who needs it get it before you do. Use your head! This applies to just about any loot piece out there. If you can't use it alone, and it's dependent on another drop.. let someone who can/will use it right away have it. The better geared up everyone is around you the better the team will do as a whole and the faster you will get more loot.</p>

  <h3>Main Swaps</h3>

  <p>All main switches are up for Officer approval on an individual case by case basis and will be evaluated as such considering such factors as class need, personal reason for switching, viability of class/spec and others, just because one person is allowed to switch does not mean another will.</p>

  <p>If approved person will continue to play their old main any time it is needed until the officers have decided it is no longer needed by the guild, Person must also maintain a positive attitude when being asked to switch.</p>

  <p>Person will be dropped to trail rank on their new main and re-trialed as that class/spec. to make sure they play it up to an acceptable level for guild progression.</p>

  <p>The Majority of the gear needs to come from LFR/Flex or though the players own personal work. Priority on loot will remain with everyone else in the raid, loot will be given to the person making a main switch when it is not needed by another main spec player while the player switching is coming in for farm bosses.</p>
</div>