<div class="banner">
  <img class="border" src="images/h_spoils.jpg">
</div>

<section class="posts panel">
  <ol>
    <li>
      <article class="post">
        <header>
          <h2 class="title"><a href="#">Moving Forward in WoD</a></h2>
        </header>

        <footer class="post-info">
          <abbr class="published" title="2005-10-10T14:07:00-07:00">10th October 2005</abbr>
          <address class="vcard author">By <a class="url fn" href="#">Enrique Ramírez</a></address>
        </footer>

        <div class="content">
          I've had a few questions about how we do loot, loot priority, the addon we use, distribution, and other things come up over the course of the past week and I wanted to address them officially.<br>
          <br>
          <u>#1 - Our loot system is Loot Council -</u><br>
          <br>
          There are 5 Members of our Loot Council<br>
          The goal of our loot system and council is to distribute the loot fairly and equally but most importantly ultimately distribute the items to the people who will help the guild the most by having them.<br>
          <br>
          <u>#2 How can you help make sure loot goes to the right person?</u><br>
          <br>
          - Know your class and your stat/loot priorities IE- What your best in slot pieces are and how you're planning to build your set.  Plan your list around things that do NOT drop off the final heroic boss.. The goal is to kill the last boss of the tier on heroic.. to do that we need as much gear as best it can be itemized without the gear off of that boss.<br>
          <br>
          - Be honest about what you need/don't need at the time it drops, if you aren't going to use your 4 piece.. don't bid for it, let someone else who needs it get it before you do. Use your head this applies to just about any loot piece out there.  If you can't use it alone and it's dependent on another drop.. let someone who can/will use it right away have it, The better geared up everyone is around you the better the team will do as a whole and the faster you will get more loot.<br>
          <br>
          <u><br>
          #3 Off-Spec gear </u><br>
          <br>
          If your off-spec is viable and will be used in our raids OS pieces will be priority given to you over others - Example being the 3rd tank getting tank gear and our off healers getting healing gear first.<br>
          <br>
          There are also points in the expansion and tiers where sharding gear will be more important than giving it to off-spec players -  Example being the new crafting materials for Seige.. if we can shard a few pieces of gear instead of giving them to say.. Someone who is a MS healer who's not likely to ever play dps in our raid and get someone a valuable upgrade from a crafted piece or fund the bank for the items we need we're going to do so.<br>
          <br>
          Your Loot choices on our selection panel defined [/b][/u]<br>
          <br>
          I changed these a little to go according to the post<br>
          <br>
          <b><u><br>
          #1 - BIS Heroic (BEST IN SLOT HEROIC)  -</u></b> These are your Best In Slot pieces - PERIOD this is part of your main set that you will never be replacing unless a Thunderforged/upgraded version of that piece drops.  Even if the piece is not Thunderforged this is the option you will select.<br>
          <br>
          Of note- If this is the piece that is not part of your tier set but belongs in a tier slot (hands,chest,shoulder,legs,helmet) it is your BIS piece if you are not planning on using the tier in that slot.  If however you plan to use tier in that slot it is NOT your BIS piece.<br>
          <br>
          <br>
          <u><b>#2 - UPGRADE TO HWF </b></u>- If you already have the NON-Warforged(upgraded) piece This would be the option you select.  If you do not have the piece already and it is your BIS piece you select option #1<br>
          <br>
          <b><u><br>
          #3 - BIS Normal - </u></b>Following the same guidelines as #1 only for normal level pieces and normal WF pieces<br>
          <br>
          <u><b>#4 - Upgrade to WF  - Again same as #2 just non-heroic<br>
          </b></u><br>
          <br>
          <b><u><br>
          #5 Major Upgrade</u></b>  - Any piece that is not your BIS but would be a "Major upgrade" for you - Ie upgrading from an LFR piece, a new weapon you could use but that isn't your BIS weapon, a trinket etc. you get the point<br>
          <br>
          <b><u><br>
          #6 Minor Upgrade</u></b> A minor upgrade would be something of the same level with a different stat priority.<br>
          <br>
          <br>
          The goal of this priority system is to make sure that people get priority on their classes BIS gear.. so we don't have for example mages running around in Warlocks BIS because it was a "Major upgrade" for them at the time.. and the Warlocks in turn running around in Mage gear because it was a "major upgrade" for them when it dropped.   Not everyone's class works the same but the idea is to not waste pieces of gear by just handing out upgrades, it's better in our minds to hand out upgrades you're going to keep the longest!<br>
          <br>
          Use your heads, share the loot and help everyone gear up equally and in the most efficient way possible.
        </div>
      </article>
    </li>
  </ol>
</section>

<aside class="recruitment panel">
  <section>
    <h2><%= link_to "Recruitment", '#' %></h2>
    <table>
      <tr>
        <td><img src="images/death_knight.png" width="25"></td>
        <td>High</td>
      </tr>
      <tr>
        <td><img src="images/druid.png" width="25"></td>
        <td>High</td>
      </tr>
      <tr>
        <td><img src="images/hunter.png" width="25"></td>
        <td>High</td>
      </tr>
      <tr>
        <td><img src="images/mage.png" width="25"></td>
        <td>High</td>
      </tr>
      <tr>
        <td><img src="images/monk.png" width="25"></td>
        <td>High</td>
      </tr>
      <tr>
        <td><img src="images/paladin.png" width="25"></td>
        <td>High</td>
      </tr>
      <tr>
        <td><img src="images/priest.png" width="25"></td>
        <td>High</td>
      </tr>
      <tr>
        <td><img src="images/rouge.png" width="25"></td>
        <td>High</td>
      </tr>
      <tr>
        <td><img src="images/shaman.png" width="25"></td>
        <td>High</td>
      </tr>
      <tr>
        <td><img src="images/warlock.png" width="25"></td>
        <td>High</td>
      </tr>
      <tr>
        <td><img src="images/warrior.png" width="25"></td>
        <td>High</td>
      </tr>
    </table>
</aside>

<div class="clearfix"></div>
