<img class="border banner" src="images/h_blackhand.jpg">

<div class="large-column">
  <section class="panel">
    <%= render "shared/content", content: @content %>
  </section>
</div>

<div class="small-column">
  <aside class="panel">
    <%= render "shared/recruitment_classes" %>
  </aside>

  <aside class="panel">
    <div class="title">
      <h2>Shoutbox</h2>
    </div>
    <%= render "shared/shoutbox" %>
  </aside>

  <% if current_user.try(:rank) %>
    <aside class="panel">
      <%= render "shared/mumble" %>
    </aside>
  <% end %>
</div>
