.row
  .col-md-8
    = render "shared/content", content: @content
  .col-md-4
    = render "shared/recruitment_classes"
    = render "shared/shoutbox"
    - if current_user.try(:rank)
      = render "shared/mumble"
