<div class="banner">
  <img class="border" src="images/h_spoils.jpg">
</div>

<section class="posts panel">
  ...
</section>

<aside class="recruitment panel">
  <%= render "shared/recruitment_classes" %>
</aside>

<aside class="recruitment panel">
  <div class="title">
    <h2>Mumble</h2>
  </div>

  <dl>
    <% @mumble.data['root']['channels'].each do |channel| %>
      <dt><%= channel['name'] %></dt>
      <% channel['users'].each do |user| %>
        <dd><%= user['name'] %></dd>
      <% end %>
    <% end %>
  </dl>
</aside>


<div class="clearfix"></div>
