<div class="banner">
  <img class="border" src="images/h_spoils.jpg">
</div>

<section class="posts panel">
  ...
</section>

<aside class="recruitment panel">
  <%= render "shared/recruitment_classes" %>
</aside>

<div class="clearfix"></div>
