<div class="page">
  <div class="title">
    <h1>Warcraft Logs</h1>

    <ul class="actions">
      <li><a href="http://www.warcraftlogs.com/guilds/626/" target="_blank">Link <%= fa_icon('external-link') %></a></li>
    </ul>
  </div>

  <iframe src="http://www.warcraftlogs.com/guilds/626/"></iframe>

  <div class="title">
    <h1>World of Logs</h1>

    <ul class="actions">
      <li><a href="http://www.worldoflogs.com/guilds/230000/" target="_blank">Link <%= fa_icon('external-link') %></a></li>
    </ul>
  </div>

  <iframe src="http://www.worldoflogs.com/guilds/230000/"></iframe>
</div>
