.page-header
  %h1
    Warcraft Logs
    %span.small.pull-right
      %a.btn.btn-default{href: "http://www.warcraftlogs.com/guilds/626/", target: "_blank"}
        Link
        = fa_icon('external-link')
.embed-responsive.embed-responsive-16by9
  %iframe.embed-responsive-item{src: "http://www.warcraftlogs.com/guilds/626/"}
