<div class="content">
  <h1>What is a Party Shark</h1>

  <p>From Urban Dictionary - A person being crowd surfed while holding a cardboard shark fin in between their butt cheeks. The privilege is usually extended to someone who did something extraordinary throughout the week.</p>

  <p>If that's not fun then what is?</p>

  <p>The goal of Party Shark is to be a successful 2 night per week raiding guild in World of Warcraft.</p>

  <h2>Goals and Expectations</h2>

  <p>Our definition of success is being able to meet or exceed our progression goals while keeping and maintaining an enjoyable raiding and drama free social environment. Additionally, it is our mission to build a culture in which our raiders can be proud to be a part of, in which we constantly try to adapt and improve our guild over the course of our existence.</p>

  <p>Our progression goals are to clear all content on heroic while still in the current tier before the next patch is released, To make consistent improvement each and every week while moving through content at a pace that goes along with our mission statement.</p>

  <p>We are a hard-mode guild, not a hardcore nor are we a casual guild, the elitism, douchebaggery, over recruitment and cut throat nature of hardcore is not in our principals. While the complacency, friends over performance and acceptance of mediocrity is not acceptable here either.</p>

  <p>Our goal is to take the better aspects of both worlds and to create the atmosphere we desire in Party Shark where our members are skillful, communicable, and are always striving to improve themselves and everyone around them to reach our definition of success as mentioned above.</p>

  <h2>Leadership</h2>

  <p>We are build to last, not a fly by night start up guild here, we are focused on making this project succeed long term.</p>

  <p>GM who has played in top 25/50 Us guilds, with 3 years of recruitment officer experience and previous GM experience from wrath/Bc content.</p>

  <p>Raid Leaders/Officers - We use a team approach to raid leading where we discuss our strats on our forums as a team, our strategy officers then break down the information and make a game plan, which we then transition into use for our raid and assignments. Our call outs and instructions are given by our Raid Leaders who have years of experience in top 50 guilds between them.</p>

  <p>A few of the guilds our raiders have played with:</p>
  <ul>
    <li>Refined - Area52</li>
    <li>Post Mortem- Kilrog</li>
    <li>Big Crits- Sen'Jin</li>
    <li>Vox Radux - Darkspear</li>
    <li>Death Jesters- Stormrage</li>
    <li>Blood Legion - Illidan</li>
    <li>FallenII - Tichcondrious</li>
    <li>Vigil - Mal'Ganis</li>
  </ul>

  <h2>Raiding with Party Shark</h2>

  <p>We expect that you know what type of commitment you're making before you join our group.</p>

  <p>We expect players to do the research required of a top end raider outside of game time, to communicate on our forums and be a productive member of our community. The time we spend preparing for the encounters we face will ultimately cut down on the amount of time we spend wiping in raid, and since we only raid with a minimal schedule we need to maximize the time we have.</p>


  <h2>Before Applying</h2>

  <p>Keep in mind we are a 2 night a week and our main goal is fun, but we also have the goal of clearing the tiers on heroic while current and obtaining our titles and mounts in the process. You need to have a certain skill level to complete these fights. If a player is not competitive enough numbers wise to help us kill the boss or if they die to the same mechanics multiple times they will be replaced.  If you get replaced too many times you will have the option of being a reserve or rotational player and doing the bosses as they become farm content for the guild or if the play is sub-par enough be demoted to a casual rank or removed.</p>

  <p>If you are interested, Please <%= link_to "sign up", new_user_path %> and complete an application, also be sure to read the <%= link_to "guild charter", charter_path %> carefully.</p>
</div>
