<div class="panel">
  <h2>New Character</h2>

  <%= simple_form_for @character, url: { action: "create" } do |f| %>
    <%= f.input :name %>
    <%= f.input :server %>

    <%= f.button :submit %>
  <% end %>
</div>
