<div class="panel">
  <div class="title">
    <h1>New Character</h1>
  </div>

  <%= simple_form_for [@character.user, @character] do |f| %>
    <%= f.input :name %>
    <%= f.input :server %>

    <%= f.button :submit %>
  <% end %>
</div>
