<div class="panel">
  <h1>Roster</h1>

  <h2>Core</h2>
  <ul>
    <% @cores.each do |character| %>
    <li><%= character_tag character %></li>
    <% end %>
  </ul>

  <h2>Trials</h2>
  <ul>
    <% @trials.each do |character| %>
    <li><%= character_tag character %></li>
    <% end %>
  </ul>
</div>
