<div class="panel errors">
  <div class="title">
    <h1>The change you wanted was rejected.</h1>

    <div class="info">
      <code>Status Unprocessable Entity, Code 422</code>
    </div>
  </div>

  <%= image_tag "sad_moonkin.jpg", class: "border" %>
</div>