@include select-page('applications', 'new' 'create' 'edit' 'update') {
  form {
    @include span-columns(6);
  }

  aside {
    @include span-columns(6);
  }
}

@include select-page('applications', 'show') {
  dl {
    dt {
      font-weight: bold;
    }

    dd {
      margin: 2px 0 8px;
    }
  }
}

@include select-page('applications', 'show' 'edit') {
  .title {
    div:last-child {
      margin-top: 10px;
    }
  }
}
