@include select-page('forums', 'new' 'create' 'edit' 'update') {
  .forum_readable_ranks { // scss-lint:disable SelectorFormat
    @include span-columns(6);
  }

  .forum_writeable_ranks { // scss-lint:disable SelectorFormat
    @include span-columns(6);
  }
}

@include select-page('forums', 'show') {
  form h2 {
    margin-top: 0;
  }
}

@include select-page('forums') {
  .half-width {
    @include span-columns(6);
  }
}
