@include select-page('pages', 'home') {
  .banner {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: $gutter;
  }

  .large-column {
    @include span-columns(8);
  }

  .small-column {
    @include span-columns(4);
    @include omega();
  }
}

@include select-page('pages', 'logs') {
  iframe {
    @include span-columns(12);
    height: 600px;
    margin-bottom: 20px;
  }
}
