@include select-page('users', 'show') {
  .details {
    @include span-columns(6);

    img {
      float: left;
      margin-right: 5px;
    }

    p {
      margin: 0;
    }
  }

  .characters {
    @include span-columns(6);
    @include omega();

    h2 {
      margin: 0 0 5px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      font-size: 18px;
    }

    .button_to { // scss-lint:disable SelectorFormat
      display: inline-block;
      float: right;

      input {
        margin: 0;
        padding: 0 5px;
      }
    }
  }
}

@include select-page('users', 'edit' 'update') {
  .settings {
    @include span-columns(6);
  }

  .new-password {
    @extend .panel;
    @include span-columns(6);
    @include omega();

    h3 {
      margin-top: 0;
    }
  }
}
