.users.show {
  .details {
    @include span-columns(6);

    img {
      float: left;
      margin-right: 5px;
    }

    p {
      margin: 0;
    }
  }

  .characters {
    @include span-columns(6);
    @include omega();

    h2 {
      margin: 0 0 5px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      font-size: 18px;
    }
  }

  .posts {
    @include span-columns(12);
  }
}

.users.edit,
.users.update {
  .panel {
    @include span-columns(12);
  }

  .settings {
    @include span-columns(6);
  }

  .new-password {
    @extend .panel;
    @include span-columns(6);
    @include omega();

    h3 {
      margin-top: 0;
    }
  }
}
