<div class="page errors">
  <div class="title">
    <h1>Hmm, something here is wrong.</h1>

    <div class="info">
      <code>Status: <%= @status.to_s.titleize %>, Code: <%= @code %></code>
    </div>
  </div>

  <%= image_tag "sad_moonkin.jpg", class: "border" %>
</div>