<div class="page errors">
  <div class="title">
    <h1>Sorry, can't find that page.</h1>

    <div class="info">
      <code>Status: <%= @status.to_s.titleize %>, Code: <%= @code %></code>
    </div>
  </div>

  <%= image_tag "confused_moonkin.png" %>
</div>