/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require normalize-rails
 *= require_tree .
 */

a {
  color: #fece2f;
  text-decoration: none;
}

body {
  background-image: url('/images/water_bg.jpg');
  color: #ccc;
}

/* HEADER */

header.logo h1 {
  margin: 0;
  padding: 25px;
  font-size: 45px;
  text-align: center;
}

header.logo h1 a {
  color: #eee;
}

/* FLASH */

div.flash {
  width: 980px;
  margin: 0 auto 10px;
}

div.flash p.notice {
  padding: 10px;
  background: yellow;
  color: #222;
}

div.flash p.alert {
  padding: 10px;
  background: red;
  color: white;
}

/* NAVBAR */

nav.topbar {
  width: 980px;
  margin: 0 auto 10px;
}

nav.topbar ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}

nav.topbar ul li {
  display: inline-block;
}

nav.topbar ul.session-links {
  float: right;
}

nav.topbar ul li a {
  display: block;
  padding: 10px;
}

nav.topbar ul li a:hover {
  background: #122939;
}

/* CONTAINER */

div.container {
  margin: 0 auto;
  padding-bottom: 20px;
  max-width: 980px;
}

/* CLEARFIX */

.clearfix {
  clear: both;
}

/* FOOTER */

footer {
  width: 980px;
  margin: 0 auto;
  padding: 20px 0 10px;
  clear: both;
  color: #ccc;
}

/* TEMP CLASSES */

img.border {
  margin: -2px;
  border: 2px solid #404040;
  border-radius: 3px;
}



















