.character {
  &.death_knight { color: #C41F3B; }
  &.druid { color: #FF7D0A; }
  &.hunter { color: #ABD473; }
  &.mage { color: #69CCF0; }
  &.monk { color: #00FF96; }
  &.paladin { color: #F58CBA; }
  &.priest { color: #FFFFFF; }
  &.rogue { color: #FFF569; }
  &.shaman { color: #0070DE; }
  &.warlock { color: #9482C9; }
  &.warrior { color: #C79C6E; }
}

.profile {

  img {
    margin-right: 10px;
  }

  .title {
    display: inline-block;
    width: 840px;
    vertical-align: top;

    .name {
      display: block;
    }

    .info {
      display: block;
    }

    .gear {
      vertical-align: top;
    }
  }
}
