.character {
  &.death_knight {
    color: #c41f3b;
  }

  &.druid {
    color: #ff7d0a;
  }

  &.hunter {
    color: #abd473;
  }

  &.mage {
    color: #69ccf0;
  }

  &.monk {
    color: #00ff96;
  }

  &.paladin {
    color: #f58cba;
  }

  &.priest {
    color: #fff;
  }

  &.rogue {
    color: #fff569;
  }

  &.shaman {
    color: #0070de;
  }

  &.warlock {
    color: #9482c9;
  }

  &.warrior {
    color: #c79c6e;
  }
}

.characters.show {
  .portrait {
    @include span-columns(2);

    img {
      height: auto;
      max-height: 88px;
      max-width: 88px;
    }
  }

  .title {
    @include span-columns(10);
    @include omega();

    .name {
      display: block;
    }

    .info {
      display: block;
    }

    .gear {
      vertical-align: top;
    }
  }
}
