.character {
  &.death_knight {
    color: #c41f3b;
  }

  &.druid {
    color: #ff7d0a;
  }

  &.hunter {
    color: #abd473;
  }

  &.mage {
    color: #69ccf0;
  }

  &.monk {
    color: #00ff96;
  }

  &.paladin {
    color: #f58cba;
  }

  &.priest {
    color: #fff;
  }

  &.rogue {
    color: #fff569;
  }

  &.shaman {
    color: #0070de;
  }

  &.warlock {
    color: #9482c9;
  }

  &.warrior {
    color: #c79c6e;
  }
}

.profile {

  img {
    margin-right: 10px;
  }

  .title {
    display: inline-block;
    vertical-align: top;
    width: 840px;

    .name {
      display: block;
    }

    .info {
      display: block;
    }

    .gear {
      vertical-align: top;
    }
  }
}
