ul.forums {
  display: block;
  margin: 10px 0;
  padding: 0;
  list-style: none;

  .forum {
    display: inline-block;
    width: 49%;
    margin-bottom: 10px;
    vertical-align: top;
    border: $border-size solid $border-color;
    border-radius: $border-radius-size;

    .title {
      display: block;
      padding: 10px;
      background-color: $border-color;

      .count {
        float: right;
      }

      &:hover {
        background-color: $link-color;
        color: $background-color;
      }
    }

    .info {
      padding: 10px;

      p {
        margin: 0;
      }
    }
  }
}

table.list {
  width: 100%;
  margin-bottom: 20px;

  tr {
    &:nth-child(odd) {
      background: darken($background-color, 2%);
    }
    &:first-child {
      background: none;
    }

    th {
      text-align: left;
      padding-left: 10px;
    }

    td {
      @extend hr;
      padding: 10px 0 10px 10px;
    }
  }
}

.forum-title {
  .actions {
    display: inline-block;
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    font-weight: normal;

    li {
      display: inline-block;
    }

    li a {
      @extend .button-small;
    }

  }

  form { /* TODO: We are going to be getting rid of this */
    display: inline-block;
  }
}
