ul.forums {
  display: block;
  margin: 10px 0;
  padding: 0;
  list-style: none;

  .forum {
    display: inline-block;
    width: 49.1%;
    margin-bottom: 10px;
    vertical-align: top;

    &:nth-child(even) {
      float: right;
    }

    a {
      display: block;
      padding: 10px;

      .info {
        float: right;
      }

      .datetime {
        font-size: 11px;
      }
    }
  }
}

table.list {
  width: 100%;
  margin-bottom: 20px;

  tr {
    &:nth-child(odd) {
      background: darken($background-color, 2%);
    }
    &:first-child {
      background: none;
    }

    th {
      text-align: left;
      padding-left: 10px;
    }

    td {
      @extend hr;
      padding: 10px 0 10px 10px;
    }
  }
}
