/* Variables */
$border-color: #404040;
$background-color: #242424;
$topbar-hover-color: #122939;
$link-color: #fece2f;
$text-color: #eee;

$primary-color: #428bca;
$success-color: #5cb85c;
$info-color:    #5bc0de;
$warning-color: #f0ad4e;
$danger-color:  #d9534f;

$border-size: 2px;
$border-radius-size: 3px;

$page-width: 980px;
$form-width: 440px;

$fg-column: 60px;
$fg-gutter: 25px;
$fg-max-columns: 12;

/* General styles */

body {
  color: $text-color;
}

a {
  color: $link-color;
  text-decoration: none;
}

hr {
  border: 0;
  border-bottom: 1px dashed $border-color;
}

blockquote {
  @extend .panel;
}

iframe {
  @extend .border;
}

nav.pagination {
  float: right;

  span {
    display: inline-block;
    margin-right: 3px;
  }

  span a, .current, .gap {
    @extend .button-small;
  }

  span.current, span.gap {
    &:hover {
      background: $border-color;
      color: $text-color;
    }
  }
}

/* Custom classes */

.content {
  font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  @include prefixer(font-smoothing, antialiased, webkit moz);

  p {
    line-height: 1.6em;
  }

  iframe {
    max-width: 100%;
    max-height: 100%;
  }
}

.border {
  margin: -$border-size;
  border: $border-size solid $border-color;
  border-radius: $border-radius-size;
}

.panel {
  margin: 5px 0;
  padding: 15px;
  background: $background-color;
  border: $border-size solid $border-color;
  border-radius: $border-radius-size;

  &:first-child {
    h1, h2, h3 {
      margin-top: 0;
    }
  }
}

.title {
  margin-bottom: 20px;

  h1, h2, h3, h4, h5, h6 {
    display: inline-block;
    // font-size: 24px;
    margin-bottom: 3px;
  }

  .actions {
    display: inline-block;
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
    }

    li a {
      @extend .button-small;
      margin-bottom: 0;
    }
  }

  .info {
    font-size: 14px;
  }
}

.status {
  display: inline-block;
  margin: 0 10px;
  padding: 4px 6px;
  border-radius: $border-radius-size;
  vertical-align: 2px;
  color: $background-color;
  font-weight: normal;

  &.pending {
    background-color: $info-color;
  }
  &.trial {
    background-color: $warning-color;
  }
  &.accepted {
    background-color: $success-color;
  }
  &.rejected {
    background-color: $danger-color;
  }
}

h1 .status {
  font-size: 22px;
}
h2 .status {
  margin: 0 6px;
  font-size: 16px;
}
h3 .status {
  margin: 0 4px;
  padding: 3px 5px;
  font-size: 12px;
  font-weight: bold;
}
h4 .status {
  margin: 0 4px;
  padding: 3px 5px;
  font-size: 10px;
  font-weight: bold;
}
h5 .status {
  margin: 0 2px;
  padding: 2px 4px;
  font-size: 8px;
  font-weight: bold;
}
h6 .status {
  margin: 0;
  padding: 1px 2px;
  font-size: 8px;
  font-weight: bold;
}


.button {
  display: inline-block;
  margin-bottom: 10px;
  padding: 7px 20px;
  background-color: $border-color;
  border: none;
  border-radius: $border-radius-size;

  &:hover {
    background: $link-color;
    color: $background-color;
  }
}

.button-small {
  @extend .button;
  padding: 3px 6px;
}

h1 .sub {
  font-size: 16px;
}

.clearfix {
  @include clearfix;
}

.hidden {
  display: none;
  visibility: 0;
}
