/* Variables */
$border-color: #404040;
$background-color: #242424;
$topbar-hover-color: #122939;
$link-color: #fece2f;
$text-color: #eee;

$border-size: 2px;
$border-radius-size: 3px;

$page-width: 980px;

$fg-column: 60px;
$fg-gutter: 25px;
$fg-max-columns: 12;

/* General styles */

body {
  color: $text-color;
}

a {
  color: $link-color;
  text-decoration: none;
}

hr {
  border: 0;
  border-bottom: 1px dashed $border-color;
}

form {

  label {
    display: inline-block;
    margin-bottom: 2px;
  }

  input, textarea, select {
    @include box-sizing(border-box);

    margin-bottom: 10px;
    padding: 5px;
    background: $border-color;
    border: $border-size solid $border-color;
    border-radius: 3px;
    color: $text-color;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:focus {
      padding: -2px;
      outline: none;
      border: $border-size solid $link-color;
    }
  }

  select {
    &:focus {
      padding: 7px;
      border: none;
    }
  }

  textarea {
    resize: vertical;
  }

  input[type=checkbox], input[type=radio] {
    display: inline-block;
    font-size: 15px;
    line-height: 1em;
    margin: 0 0.25em 10px 0;
    padding: 0;
    width: 1.25em;
    height: 1.25em;
    -webkit-border-radius: 0.25em;
    vertical-align: text-top;
  }

  input[type=checkbox]:checked {
    background-color: $link-color;
  }

  input[type=radio] {
    -webkit-border-radius: 2em; /* Make radios round */
  }

  input[type="submit"] {
    @extend .button;
    color: $link-color;

    &:focus {
      background-color: $link-color;
      color: $background-color;
    }
  }

  .errors {
    color: red;
  }

  .field_with_errors {
    display: inline-block;
    width: 100%;

    input, textarea, select {
      border: $border-size solid red;
    }
  }

}

nav.pagination {
  float: right;

  span {
    display: inline-block;
    margin-right: 3px;
  }

  span a, .current, .gap {
    @extend .button-small;
  }

  span.current, span.gap {
    &:hover {
      background: $border-color;
      color: $text-color;
    }
  }
}

/* Custom classes */

.content {
  font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  @include prefixer(font-smoothing, antialiased, webkit moz);

  p {
    line-height: 1.6em;
  }
}

.border {
  margin: -$border-size;
  border: $border-size solid $border-color;
  border-radius: $border-radius-size;
}

.panel {
  margin: 5px 0;
  padding: 15px;
  background: $background-color;
  border: $border-size solid $border-color;
  border-radius: $border-radius-size;

  &:first-child {
    h1, h2, h3 {
      margin-top: 0;
    }
  }
}

.button {
  display: inline-block;
  margin-bottom: 10px;
  padding: 7px 20px;
  background-color: $border-color;
  border: none;
  border-radius: $border-radius-size;

  &:hover {
    background: $link-color;
    color: $background-color;
  }
}

.button-small {
  @extend .button;
  padding: 3px 6px;
}

h1 .sub {
  font-size: 16px;
}

.clearfix {
  @include clearfix;
}
