// Body

body {
  background-image: url('/images/water_bg.jpg');
}

// Header

header.logo {
  margin: 0 auto;
  width: $page-width;
}

// Flash

div.flash {
  left: 50%;
  margin-left: -($page-width/2);
  position: absolute;
  top: 0;
  width: $page-width;

  @media screen and (max-width: $page-width) {
    left: 0;
    margin-left: 0;
    width: 100%;
  }

  p {
    margin: 0;
    padding: 10px;
  }

  p.notice {
    background: $warning-color;
    color: $background-color;
  }

  p.alert {
    background: $danger-color;
    color: $text-color;
  }
}

// Navbar

nav.topbar {
  margin: 0 auto;
  padding: 0 20px;
  width: $page-width;

  ul {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  ul.user-links {
    float: right;
  }

  li {
    display: inline-block;

    a {
      display: block;
      padding: 10px;
    }

    a:hover {
      background: $topbar-hover-color;
    }
  }
}

// Container

div.container {
  margin: 0 auto 20px;
  padding: 0 20px;
  width: $page-width;
}

// Footer

footer {
  width: $page-width;
}
