// Body

body {
  background: image-url('background.jpg') no-repeat center center fixed;
  background-size: cover;
}

// Header

header.logo {
  margin: 10px auto 5px;
  width: $max-width;

  img {
    display: block;
    margin: 0 auto;
  }
}

// Flash

div.flash {
  position: absolute;
  top: 0;
  width: 100%;

  p {
    margin: 0;
    padding: 10px 20px;
  }

  p.notice {
    background: $warning-color;
    color: $background-color;
  }

  p.alert {
    background: $danger-color;
    color: $text-color;
  }
}

// Navbar

nav.topbar {
  ul {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  ul.user-links {
    float: right;
  }

  li {
    display: inline-block;

    a {
      display: block;
      padding: 10px;
    }

    a:hover {
      background: $topbar-hover-color;
    }
  }
}

// Container

div.container {
  @include outer-container;
  @include pad(0 20px 10px);
  min-width: 750px;
}
