/* BODY */

body {
  background-image: url('/images/water_bg.jpg');
}

/* HEADER */

header.logo {
  width: $page-width;
  margin: 0 auto;
}

/* FLASH */

div.flash {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -($page-width/2);
  width: $page-width;

  @media screen and (max-width: $page-width) {
    width: 100%;
    margin-left: 0;
    left: 0;
  }

  p {
    margin: 0;
    padding: 10px;
  }

  p.notice {
    background: yellow;
    color: #222;
  }

  p.alert {
    background: red;
    color: #fff;
  }
}

/* NAVBAR */

nav.topbar {
  width: $page-width;
  margin: 0 auto 10px;

  ul {
    margin: 0;
    padding: 0;
    display: inline-block;

    li {
      display: inline-block;

      a {
        display: block;
        padding: 10px;
      }

      a:hover {
        background: $topbar-hover-color;
      }
    }
  }

  ul.session-links {
    float: right;
  }
}

/* CONTAINER */

div.container {
  width: $page-width;
  margin: 0 auto 20px;
}

/* FOOTER */

footer {
  width: $page-width;
}
