.pages.home {
  .banner img {
    margin-bottom: 10px;
    width: 100%;
  }

  section {
    float: left;
    margin-right: 10px;
    width: 645px;
  }

  aside {
    float: left;
    width: 257px;
  }
}

.pages.logs {
  iframe.wol {
    height: 800px;
    width: 100%;
  }
}
