.pages.home {
  .banner img {
    margin-bottom: 10px;
    width: 100%;
  }

  section {
    float: left;
    margin: 0 10px 400px 0;  // HACK: We really need a 2 column setup.
    width: 645px;
  }

  aside {
    float: right;
    width: 257px;
  }
}

.pages.logs {
  iframe.wol {
    height: 800px;
    width: 100%;
  }
}
