.post {
  margin-bottom: 20px;

  &:nth-child(even) .body {
    background-color: darken($background-color, 2%);
  }

  &:nth-child(odd) .body {
    background-color: lighten($background-color, 2%);
  }

  .user {
    width: 12%;
    display: inline-block;
    margin-right: 10px;

    img.avatar {
      @extend .border;
      float: left;
      margin: 0 5px 3px 0;
      height: 50px;
      width: 50px;
    }

    .info {
      width: 47%;
      float: left;

      .rank {
        font-size: 11px;
      }

      .count {
        color: #999;
        font-size: 11px;
      }
    }

    p {
      margin: 0;
    }

    .name {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis
    }
  }

  .body {
    display: inline-block;
    width: 83%;
    float: right;
    padding: 10px;
    border: $border-size solid $border-color;
    border-radius: $border-radius-size;

    .content {
      *:first-child {
        margin-top: 0;
      }

      *:last-child {
        margin-bottom: 0;
      }

      img {
        @extend .border;
        max-width: 100%;
      }

      table td {
        @extend .border;
        padding: 5px;
      }
    }

    .info {
      font-size: 11px;

      .actions {
        display: inline-block;
        margin: 0;
        padding: 0;
        list-style: none;
        float: right;

        li {
          display: inline-block;

          a {
            margin: 0 3px 0 0;
          }
        }
      }
    }
  }
}

.post-editor {

  .controls {
    padding: 4px;
    border: $border-size solid $border-color;
    border-bottom: 0;
    border-top-left-radius: $border-radius-size;
    border-top-right-radius: $border-radius-size;

    .button {
      margin-bottom: 0;
    }

    .popup {
      position: relative;
      display: inline;

      input {
        width: 150px;
        margin: 0;
        padding: 0 3px;
        vertical-align: top;
      }

      input[type="submit"] {
        width: 50px;
        padding: 2px 3px;
      }
    }
  }

  textarea {
    width: 100%;
    height: 100px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  input[type="submit"] {
    margin-bottom: 0;
  }
}