.post {
  margin-bottom: 10px;

  .user {
    display: inline-block;
    width: 18%;
    vertical-align: top;
    margin-right: 10px;

    img.avatar {
      @extend .border;

      display: block;
      height: 50px;
      margin-bottom: 4px;
    }

    .info {
      margin: 0 0 6px 0;

      .name {
        display: block;
      }

      .datetime, .small {
        font-size: 11px;
      }
    }

    .actions {
      display: block;
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;

        a {
          @extend .button-small;

          margin-bottom: 0;
        }
      }
    }
  }

  .content {
    display: inline-block;
    width: 80%;

    *:first-child {
      margin-top: 0;
    }

    *:last-child {
      margin-bottom: 0;
    }

    img {
      width: 100%;
    }
  }
}

.post-editor {
  textarea {
    width: 100%;
    height: 100px;
  }

  input[type="submit"] {
    margin-bottom: 0;
  }
}