.recruitment-classes {
  ul.classes {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 10px;

    li div {
      margin: 0 5px;
      float: left;
      text-align: center;
    }

    .clearfix {
      margin-bottom: 10px;
    }
  }
}