.topics h1 .actions {
  display: inline-block;
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  font-weight: normal;

  li {
    display: inline-block;
  }

  li a {
    @extend .button-small;
  }

}

.topics h1 form {
  display: inline-block;
}