.users.show {
  .details {
    img {
      margin-right: 5px;
      float: left;
    }

    p {
      margin: 0;
    }
  }

  .characters {
    h2 {
      margin-bottom: 5px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        font-size: 18px;
      }
    }
  }
}