// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// TODO: Move this somewhere.
form {
  label {
    display: block;
    margin-bottom: 2px;
  }
  input {
    display: block;
    margin-bottom: 10px;
    padding: 4px;
    background: #404040;
    border: none;
    border-radius: 3px;
    color: #ccc;

    &:focus {
      outline: 2px solid #fece2f;
    }

    &.button {
      display: block;
      padding: 8px 15px;

      &:hover {
        background: #fece2f;
        color: #404040
      }
    }
  }
  select {
    margin-bottom: 7px;
  }
}