<div class="page">
  <div class="title">
    <h1>Edit Featured Post</h1>

    <ul class="actions">
      <% if policy(@feature).destroy? %>
        <li>
          <%= link_to fa_icon("trash-o"), feature_path(@feature), method: :delete, data: { confirm: "Are you sure?" } %>
        </li>
      <% end %>
    </ul>
  </div>

  <%= render "features/form" %>
</div>