<div class="panel">
  <h2>New Boss</h2>

  <%= simple_form_for @boss, url: { action: "create" } do |f| %>
    <%= f.input :name %>
    <%= f.input :content %>

    <%= f.button :submit %>
  <% end %>
</div>
