<div class="panel">
  <div class="title">
    <h3>
      <%= link_to "Raids", raids_path %> /
      <%= link_to @boss.raid, raid_path(@boss.raid) %> /
      New Boss
    </h3>
  </div>

  <%= render "bosses/form", boss: @boss %>
</div>
